<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="./styles.css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    <aside>
      <div class="back-link"></div>
    </aside>
    <main class="profile">
      <div class="profile__avatar-container">
        {% block avatar %}
          {% set className = "profile__avatar" %}
          {% include "components/Avatar/avatar.html" %}
        {% endblock %}
        <h1 class="profile__title">{{mainTitle}}</h1>
      </div>
      <dl class="profile__container">
        <div class="profile__field-container">
          <dt>{{info.email.label}}</dt>
          <dd class="profile__field">{{info.email.value}}</dd>
        </div>

        <div class="profile__field-container">
          <dt>{{info.firstName.label}}</dt>
          <dd class="profile__field">{{info.firstName.value}}</dd>
        </div>

        <div class="profile__field-container">
          <dt>{{info.lastName.label}}</dt>
          <dd class="profile__field">{{info.lastName.value}}</dd>
        </div>

        <div class="profile__field-container">
          <dt>{{info.nickname.label}}</dt>
          <dd class="profile__field">{{info.nickname.value}}</dd>
        </div>

        <div class="profile__field-container">
          <dt>{{info.phone.label}}</dt>
          <dd class="profile__field">{{info.phone.value}}</dd>
        </div>
      </dl>
      <div class="profile__actions">
        <div class="profile__field-container">
          {% block changeDataLink %}
            {% set title = actionLinks.changeData.label %}
            {% set href = "./profile-edit.html" %}
            {% include "components/Link/link.html" %}
            {% endblock %}
        </div>
        <div class="profile__field-container">
          {% block changePasswordLink %}
            {% set title = actionLinks.changePassword.label %}
            {% set href = "./password-change.html" %}
            {% include "components/Link/link.html" %}
            {% endblock %}
        </div>
        <div class="profile__field-container">
          {% block logoutLink %}
            {% set title = actionLinks.logout.label %}
            {% set href = "./index.html" %}
            {% set className = "link--important" %}
            {% include "components/Link/link.html" %}
          {% endblock %}
        </div>
      </div>
    </main>
    <script src="./js/form.js"></script>
  </body>
</html>
