<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="./styles.css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    <aside>
      <div class="back-link"></div>
    </aside>
    <main>
      <form class="profile">
        <div class="profile__avatar-container">
          {% block avatar %}
            {% set className = "profile__avatar" %}
            {% include "components/Avatar/avatar.html" %}
          {% endblock %}
        </div>
        <div class="profile__field-container">
          <label for="{{form.oldPassword.name}}">
            {{form.oldPassword.label}}
          </label>
          <input
            class="profile__field"
            id="{{form.oldPassword.name}}"
            name="{{form.oldPassword.name}}"
            placeholder="{{form.oldPassword.placeholder}}"
            required
            type="password"
          />
        </div>
        <div class="profile__field-container">
          <label for="{{form.newPassword.name}}">
            {{form.newPassword.label}}
          </label>
          <input
            class="profile__field"
            id="{{form.newPassword.name}}"
            name="{{form.newPassword.name}}"
            placeholder="{{form.newPassword.placeholder}}"
            required
            type="password"
          />
        </div>
        <div class="profile__field-container">
          <label for="{{form.newPasswordConfirm.name}}">
            {{form.newPasswordConfirm.label}}
          </label>
          <input
            class="profile__field"
            id="{{form.newPasswordConfirm.name}}"
            name="{{form.newPasswordConfirm.name}}"
            placeholder="{{form.newPasswordConfirm.placeholder}}"
            required
            type="password"
          />
        </div>

        {% block button %}
          {% set type = "submit" %}
          {% set title = form.button.label %}
          {% set className = "profile__button" %}
          {% include "components/Button/button.html" %}
        {% endblock %}
      </form>
    </main>
    <script src="./js/form.js"></script>
  </body>
</html>
