<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="./styles.css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    <main class="auth">
      <h1 class="auth__title">{{title}}</h1>
      <form class="auth-form">
        <label for="{{form.email.name}}" class="auth__label">{{form.email.label}}</label>
        <input
          id="{{form.email.name}}"
          name="{{form.email.name}}"
          placeholder="{{form.email.placeholder}}"
          required
          type="email"
          class="auth__input"
        />
        <label for="{{form.firstName.name}}" class="auth__label">{{form.firstName.label}}</label>
        <input
          id="{{form.firstName.name}}"
          name="{{form.firstName.name}}"
          placeholder="{{form.firstName.placeholder}}"
          required
          type="text"
          class="auth__input"
        />
        <label for="{{form.lastName.name}}" class="auth__label">{{form.lastName.label}}</label>
        <input
          id="{{form.lastName.name}}"
          name="{{form.lastName.name}}"
          placeholder="{{form.firstName.placeholder}}"
          required
          type="text"
          class="auth__input"
        />
        <label for="{{form.phone.name}}" class="auth__label">{{form.phone.label}}</label>
        <input
          id="{{form.phone.name}}"
          name="{{form.phone.name}}"
          placeholder="{{form.phone.placeholder}}"
          required
          type="tel"
          class="auth__input"
        />
        <label for="{{form.password.name}}" class="auth__label"> {{form.password.label}} </label>
        <input
          id="{{form.password.name}}"
          name="{{form.password.name}}"
          placeholder="{{form.password.placeholder}}"
          required
          type="password"
          class="auth__input"
        />
        <label for="{{form.passwordConfirm.name}}" class="auth__label">
          {{form.passwordConfirm.label}}
        </label>
        <input
          id="{{form.passwordConfirm.name}}"
          name="{{form.passwordConfirm.name}}"
          placeholder="{{form.passwordConfirm.placeholder}}"
          required
          type="password"
          class="auth__input"
        />
        {% block button %}
          {% set className = "auth__submit-button" %}
          {% set type = "submit" %}
          {% set title = form.button %}
          {% include "components/Button/button.html" %}
        {% endblock %}

        {% block link %}
          {% set title = link.title %}
          {% set href = link.href %}
          {% include "components/Link/link.html" %}
        {% endblock %}
      </form>
    </main>
    <script src="./js/form.js"></script>
  </body>
</html>
