.profile__field {
    color: var(--gray);
    border: none;
    text-align: right;
}

.profile__button {
    width: 280px;
    height: 37px;
    margin: 60px auto 0;
}

.profile__avatar-input {
    display: none;
}
